<div class="container" style="margin-top: 10vh; margin-bottom: 15vh;">
    <div class="text-center mb-5">
        <h1>BOOKS</h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <table class="table">
                    <thead>
                        <tr>
                          <th scope="col">Title</th>
                          <th scope="col">Version</th>
                          <th scope="col">Author</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let b of books">
                        <td>{{ b.title }}</td>
                        <td>{{ b.version }}</td>
                        <td>{{ b.author }}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <form class="form m-2">
                    <label for="">Title</label>
                    <input id="title" name="title" class="form-control" type="text" #title>
                
                    <label for="">Author</label>
                    <input class="form-control" name="author" id="author" type="text" #author>
                
                    <label for="">Version</label>
                    <input type="number" class="form-control" name="year" id="year" #year>

                    <label for="">ISPN</label>
                    <input type="number" class="form-control" name="year" id="year" #year>
                    <br>
                    <button type="submit" class="btn btn-warning">Add Book</button>
                </form>
            </div>
        </div>
    </div>
</div>

